%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-
[ {rtsv2,
   [ {web_port, 3000}
   , {agents
     , [ <<"EdgeAgent">>
       ]}
   ]}

, {kernel,
   [ {logger_level, debug}
   , {logger, [
               %%{filters, log, [{supervisor_report, {fun i_utils:log_filter/2, config}}]},

               %% Console
               { handler, default, logger_std_h
               , #{ formatter => { logger_formatter
                                 , #{ single_line => true
                                    , time_offset => "Z"
                                    , chars_limit => 32768
                                    , depth => 40
                                    , template => [time," ", level,": ", pid, " ", msg, "\n"]
                                    }}
                  , filters => [
                               ]
                  }
               }
              ]}
   ]}
].
