%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-
[ {rtsv2,
   [
    {agents
    , [ <<"EdgeAgent">>
      , <<"IngestAgent">>
      , <<"StreamRelayAgent">>
      , <<"TransPoPAgent">>
      ]}
   , {intraPoPConfig, #{
                        rpcPort => 5000
                       }}
   , {web_port, 3000}
   ]}

, {kernel,
   [ {logger_level, debug}
   , {logger, [
               %% debug.log
               {handler, debug_log, logger_std_h,
                #{config => #{
                              file => "logs/3000/debug.log",
                              max_no_files => 10,
                              max_no_bytes => 22428800 % 10 x 5mb
                             },
                  level => debug,
                  formatter => {logger_formatter, #{single_line => true,
                                                    time_offset => "Z",
                                                    chars_limit => 4096,
                                                    depth => 40,
                                                    template => [time," ", level,": ", pid, " ", mfa, ":", line, " ", msg, ": ", misc, "\n"]
                                                   }
                               },
                  filters => [
                             ]
                 }
               },

               %% Console
               { handler, default, logger_std_h
               , #{ formatter => { logger_formatter
                                 , #{ single_line => true
                                    , time_offset => "Z"
                                    , chars_limit => 32768
                                    , depth => 40
                                    , template => [time," ", level,": ", pid, " ", msg, ": ", misc, "\n"]
                                    }}
                  , filters => [
                               ]
                  }
               }
              ]}
   ]}
].
