%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-

[ "release-files/rtsv2_core.config",
  {rtsv2,

   [ {overrides,
      [ {loadConfig, #{ monitorLoad => false
                      }}

   , {featureFlags, #{ mediaGateway => <<"on">>
                     }}

      , {transPoPConfig, #{ leaderTimeoutMs => 1000
                          , leaderAnnounceMs => 500
                          , rejoinEveryMs => 5000
                          , replayMessagesOnJoin => false
                          }}

      , {intraPoPConfig, #{ replayMessagesOnJoin => false
                          }}

      , {egestConfig, #{ lingerTimeMs => 2000
                       , reserveForPotentialNumClients => 100
                       , decayReserveMs => 10000
                       }}

      , {ingestInstanceConfig, #{ aggregatorRetryTimeMs => 100
                                }}

      , {popDefinitionConfig, #{ directory => "test/config/"
                               }}

      , {ingestAggregatorConfig, #{ shutdownLingerTimeMs => 1000
                                  }}
      ]}

   ]}

, "release-files/id3as_common_core.config"

, "release-files/prometheus_core.config"

, "release-files/kernel_core.config"
].
