%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-
[ {rtsv2,
   [
    {nodeConfig, #{
                   agents => [ <<"Edge">>
                             , <<"Ingest">>
                             , <<"IngestAggregator">>
                             , <<"StreamRelay">>
                             , <<"TransPoP">>
                             ]}}

   , {intraPoPConfig, #{
                        bindPort => 7946,
                        rpcPort => 7373,
                        rejoinEveryMs => 30000,
                        expireThresholdMs => 2000,
                        expireEveryMs => 1000
                       }}

   , {transPoPConfig, #{
                        bindPort => 8946,
                        rpcPort => 8373,
                        leaderTimeoutMs => 1000, %%2000,
                        leaderAnnounceMs => 500, %%1000,
                        rejoinEveryMs => 30000,
                        connectStreamAfterMs => 300
                       }}

   , {ingestAggregatorConfig, #{
                                 streamAvailableAnnounceMs => 1000
                               }}

   , {edgeConfig, #{
                    edgeAvailableAnnounceMs => 1000,
                    lingerTimeMs => 30000
                   }}

   , {popDefinitionConfig, #{
                             popDefinitionFile => "scripts/env/steve.data/popDefinition.json"
                            }}

   , {httpApiConfig, #{
                       port => 3000
                      }}

   , {disk_log_root, "logs"}
   , {disk_log_handlers,
      [
       %% debug.log
       {handler, debug_log, logger_std_h,
        #{config => #{
                      file => "debug.log",
                      max_no_files => 10,
                      max_no_bytes => 22428800 % 10 x 5mb
                     },
          level => debug,
          formatter => {logger_formatter, #{single_line => true,
                                            time_offset => "Z",
                                            chars_limit => 4096,
                                            depth => 40,
                                            template => [time," ", level,": ", pid, " ", mfa, ":", line, " ", msg, ": ", misc, "\n"]
                                           }
                       },
          filters => [
                      %% {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['otp', 'sasl']}}}
                      {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['audit']}}}
                     ]
         }
       },

       %% ingest_audit.log
       {handler, ingest_audit_log, logger_std_h,
        #{config => #{
                      file => "ingest_audit.log",
                      max_no_files => 10,
                      max_no_bytes => 22428800 % 10 x 5mb
                     },
          level => debug,
          formatter => {logger_formatter, #{single_line => true,
                                            time_offset => "Z",
                                            chars_limit => 4096,
                                            depth => 40,
                                            template => [time, " ", event, ", ", customerId, ", ", streamId, ", ", streamVariantId, "\n"]
                                           }
                       },
          filter_default => stop,
          filters => [
                      {domain_filter, {fun logger_filters:domain/2, {log, equal, ['audit', 'ingest']}}}
                     ]
         }
       }


      ]}
   ]}

, {kernel,
   [ {logger_level, debug}
   , {logger, [
               %% Console
               { handler, default, logger_std_h
               , #{ formatter => { logger_formatter
                                 , #{ single_line => true
                                    , time_offset => "Z"
                                    , chars_limit => 32768
                                    , depth => 40
                                    , template => [time," ", level,": ", pid, " ", msg, ": ", misc, "\n"]
                                    }}
                  , filters => [
                                {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['otp', 'sasl']}}}
                               , {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['audit']}}}
                               ]
                  }
               }
              ]}
   ]}
].
