ebin
.psc-package
output
compiled_ps
_build
tags
nativedeps
*.dump
primary_
rebar3.crashdump
logs
releases
primary_*
_checkouts
default.etcd
.\#*
\#*
log
.spago
node_modules
.psci_modules
.edts
.projectile
server/purs
.DS_store
priv/www/assets/js/rtsv2AppBundle.js
_checkoutsx
test/config/popDefinition.json
.psc-ide-port
_assets
_etwas/
logs*/
*.beam
