{erl_opts, [debug_info]}.

{deps,[ {jsx, "2.8.0"}
      , {recon, "2.3.6"}
      , {cowboy, { git, "https://github.com/ninenines/cowboy.git", { tag, "2.6.0" } } }
      , {gproc, {git, "git://github.com/uwiger/gproc.git", {tag, "0.8.0"}}}
      , {msgpack, {git, "https://github.com/msgpack/msgpack-erlang.git", {ref, "f1e1b98"}}}
      , {id3as_common, {git, "git@github.com:id3as/id3as.common.git", {branch, "master"}}}
      , {id3as_media, {git, "git@github.com:id3as/id3as.media.git", {branch, "master"}}}
      , {id3as_avp, {git, "git@github.com:id3as/id3as.avp.git", {branch, "master"}}}
      , {id3as_rtc, {git, "git@github.com:id3as/id3as_rtc.git", {branch, "master"}}}
      ]}.

{relx, [
        {release, {rtsv2, "1"}, [rtsv2],
         [ {sys_config, "release-files/sys.config"}
         , {overlay, [ {mkdir, "init"}
                     , {mkdir, "bin"}
                     , {copy, "release-files/install.sh", "bin/install.sh"}
                     , {copy, "release-files/install_services.sh", "bin/install_services.sh"}
                     , {copy, "release-files/start_node_nix.sh", "bin/start_node_nix.sh"}
                     , {copy, "release-files/start_serf_nix.sh", "bin/start_serf_nix.sh"}
                     , {copy, "release-files/start.sh", "bin/start.sh"}
                     , {copy, "release-files/start_iserf.sh", "bin/start_iserf.sh"}
                     , {copy, "release-files/install.sh", "bin/install.sh"}
                     , {copy, "release-files/shell.nix", "bin/shell.nix"}
                     , {copy, "release-files/id3as_common_core.config", "releases/{{release_version}}/id3as_common_core.config"}
                     , {copy, "release-files/rtsv2_core.config", "releases/{{release_version}}/rtsv2_core.config"}
                     ]}]}
       , {include_src, false}
       , {extended_start_script, true}
       ]
}.


{shell, [ {config, [{config, "release-files/sys.config"}]}
        , {apps, [rtsv2]}
        ]}.

{plugins, [
           { rebar3_vir, {git, "git@github.com:id3as/rebar3_vir.git", {ref, "9cabb8200797bf2d4fd88d6897735d744f8b7d19"}}}
          ]}.

{pre_hooks,
  [ {"(linux|darwin|solaris|win32)", compile, "bash -c 'make'"}
  , {"(linux|darwin|solaris|win32)", clean, "make clean"}
  ]}.
