{erl_opts, [debug_info]}.
{deps,[
       {jsx, "2.8.0"},
       {recon, "2.3.6"},
       {cowboy, { git, "https://github.com/ninenines/cowboy.git", { tag, "2.6.0" } } },
       {gproc, {git, "git://github.com/uwiger/gproc.git", {tag, "0.8.0"}}}
      ]}.

{relx, [
        {release, {rtsv2, "1"}, [rtsv2],
         [
          {sys_config, "release-files/sys.config"},
          {overlay, [
                     {mkdir, "log"},
                     {mkdir, "init"},
                     {mkdir, "bin"}
                    ]}]},
        {include_src, false},
        {extended_start_script, true}
       ]
}.


{shell, [
    {config, [{config, "release-files/sys.config"}]},
    {apps, [rtsv2]}
]}.
{pre_hooks,
  [
   {"(linux|darwin|solaris|win32)", compile, "bash -c 'make'"},
   {"(linux|darwin|solaris|win32)", clean, "make clean"}
  ]}.
