{erl_opts, [debug_info]}.

{overrides, [{add, [{erl_opts, [{d, 'ID3AS_COMMON_USE_LOGGER'}]}]}]}.

{deps,[ {jsx, "2.8.0"}
      , {recon, "2.3.6"}
      , {cowboy, { git, "https://github.com/ninenines/cowboy.git", { tag, "2.6.0" } } }
      , {gproc, {git, "git://github.com/uwiger/gproc.git", {tag, "0.8.0"}}}
      , {msgpack, {git, "https://github.com/msgpack/msgpack-erlang.git", {ref, "f1e1b98"}}}
      , {id3as_common, {git, "git@github.com:id3as/id3as.common.git", {branch, "master"}}}
      , {id3as_media, {git, "git@github.com:id3as/id3as.media.git", {branch, "master"}}}
      , {id3as_avp, {git, "git@github.com:id3as/id3as.avp.git", {branch, "master"}}}
      ]}.

{relx, [
        {release, {rtsv2, "1"}, [rtsv2],
         [ {sys_config, "release-files/sys.config"}
         , {overlay, [ {mkdir, "log"}
                     , {mkdir, "init"}
                     , {mkdir, "bin"}
                     ]}]}
       , {include_src, false}
       , {extended_start_script, true}
       ]
}.


{shell, [ {config, [{config, "release-files/sys.config"}]}
        , {apps, [rtsv2]}
        ]}.
{pre_hooks,
  [ {"(linux|darwin|solaris|win32)", compile, "bash -c 'make'"}
  , {"(linux|darwin|solaris|win32)", clean, "make clean"}
  ]}.
