[ {kernel,
   [ {logger_level, debug}
   , {logger, [
                %% Console
                { handler, default, logger_std_h
                , #{ formatter => { logger_formatter
                                  , #{ single_line => true
                                     , time_offset => "Z"
                                     , chars_limit => 32768
                                     , depth => 40
                                     , template => [time, " ", level, ": ", pid, " ", {module, [module, ": "], [mfa, ": "]}, {text, [text, ", "], []}, msg, "\n"]
                                     }}
                   , filters => [ %%{domain_filter, {fun logger_filters:domain/2, {stop, sub, ['otp', 'sasl']}}}
                                  {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['audit']}}}
                                ]
                   }
                }

               %% RTS-V2 Alert logging
              , { handler, rtsv2_alert, rtsv2_alert_logger_h
                , #{
                    %% , filters => [ {domain_filter, {fun logger_filters:domain/2, {log, sub, ['audit']}}}
                    %%              ]
                   config => #{ message_bus => rtsv2_alerts
                                }
                   }
                }
              ]}
   ]
  }
].
