[ {prometheus,
   [
    {collectors, [default
                 , prometheus_process_collector
                 , prometheus_scheduler_utilization_collector
                 ]}

   , {instrumenters, []}

   , {vm_system_info_collector_metrics, [ dirty_cpu_schedulers
                                        , dirty_cpu_schedulers_online
                                        , dirty_io_schedulers
                                        , ets_limit
                                        , logical_processors
                                        , logical_processors_available
                                        , logical_processors_online
                                        , port_count
                                        , port_limit
                                        , process_count
                                        , process_limit
                                        , schedulers
                                        , schedulers_online
                                        , thread_pool_size
                                        , wordsize_bytes
                                        , atom_count
                                        , atom_limit
                                        , allocators
                                        ]}
   ]
  }
].
