%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-
[ {rtsv2,
   [
     {globalConfig, #{ intraPoPLatencyMs => 1000
                     }}

   , {nodeConfig, #{ agents => [ <<"Egest">>
                               , <<"Ingest">>
                               , <<"IngestAggregator">>
                               , <<"StreamRelay">>
                               , <<"TransPoP">>
                               ]}}

   , {llnwApiConfig, #{ streamAuthTypeUrl => <<"http://%HOSTNAME%:3000/system/llnwstub/rts/v1/streamauthtype">>,
                        streamAuthUrl => <<"http://%HOSTNAME%:3000/system/llnwstub/rts/v1/streamauth">>,
                        streamPublishUrl => <<"http://%HOSTNAME%:3000/system/llnwstub/rts/v1/streampublish">>
                      }}

   , {intraPoPConfig, #{ bindPort => 7946
                       , rpcPort => 7373
                       , rejoinEveryMs => 30000
                       , replayMessagesOnJoin => true
                       , vmLivenessIntervalMs => 200
                       , reannounceAgentEveryMs => #{ aggregator => 10000
                                                    , relay => 10000
                                                    , egest => 10000
                                                    }
                       , missCountBeforeExpiry => 6
                       }}


   , {transPoPConfig, #{ bindPort => 8946
                       , rpcPort => 8373
                       , leaderTimeoutMs => 2000
                       , leaderAnnounceMs => 1000
                       , rejoinEveryMs => 30000
                       , rttRefreshMs => 30000
                       , defaultRttMs => 2
                       , connectStreamAfterMs => 300
                       , replayMessagesOnJoin => true
                       }}

   , {rtmpIngestConfig, #{ port => 1935
                         , nbAcceptors => 10
                         , cryptoContextExpiryMs => 1000
                         }}

   , {ingestInstanceConfig, #{ eqLogIntervalMs => 30000
                             }}

   , {ingestStatsConfig, #{ pollPeriodMs => 1000
                          }}

   , {ingestAggregatorConfig, #{ shutdownLingerTimeMs => 20000
                               }}

   , {streamRelayConfig, #{ lingerTimeMs => 30000
                          , reApplyPlanTimeMs => 1000
                          }}

   , {loadMonitorConfig, #{ loadAnnounceMs => 2000
                          }}

   , {egestConfig, #{ eqLogIntervalMs => 30000
                    , lingerTimeMs => 30000
                    , relayCreationRetryMs => 10000
                    }}

   , {popDefinitionConfig, #{ directory => "scripts/env/common.data/"
                            , popDefinitionFile => "popDefinition.json"
                            , wanDefinitionFile => "wanDefinition.json"
                            }}

   , {httpApiConfig, #{ port => 3000
                      }}

   , {healthConfig, #{thresholds => #{ perfect => 100
                                     , excellent => 75
                                     , good => 50
                                     , poor => 25
                                     }}}
   ]
  }
].
