%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-
[ {rtsv2,
   [
    {nodeConfig, #{
                   agents => [ <<"EdgeAgent">>
                             , <<"IngestAgent">>
                             , <<"StreamRelayAgent">>
                             , <<"TransPoPAgent">>
                             ]}}
   , {intraPoPConfig, #{
                        rpcPort => 5000
                       }}
   , {popDefinitionConfig, #{
                             popDefinitionFile => "popDefinition.json"
                            }}
   , {httpApiConfig, #{
                       port => 3000
                      }}
   ]}

, {kernel,
   [ {logger_level, debug}
   , {logger, [
               %% Console
               { handler, default, logger_std_h
               , #{ formatter => { logger_formatter
                                 , #{ single_line => true
                                    , time_offset => "Z"
                                    , chars_limit => 32768
                                    , depth => 40
                                    , template => [time," ", level,": ", pid, " ", msg, ": ", misc, "\n"]
                                    }}
                  , filters => [
                               ]
                  }
               }
              ]}
   ]}
].
