%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-

[ "rtsv2_core.config",
  {rtsv2,
   [ {overrides,
      [ {popDefinitionConfig, #{ directory => "/home/id3as"
                               , popDefinitionFile => "popDefinition.json"
                               , wanDefinitionFile => "wanDefinition.json"
                               }}

      , {llnwApiConfig, #{ streamAuthTypeUrl => <<"http://mmd-dev-01.phx7.llnw.net:8842/rts/v1/streamauthtype?apiKey=test-key">>,
                           streamAuthUrl => <<"http://mmd-dev-01.phx7.llnw.net:8842/rts/v1/streamauth?apiKey=test-key">>,
                           streamPublishUrl => <<"http://mmd-dev-01.phx7.llnw.net:8842/rts/v1/streampublish?apiKey=test-key">>
                         }}

      ]}
   ]}

, "id3as_common_core.config"

, "kernel_core.config"
].
