%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-

[ "rtsv2_core.config",
  {rtsv2,
   [ {overrides,
      [ {popDefinitionConfig, #{ directory => "/home/id3as"
                               , popDefinitionFile => "popDefinition.json"
                               , wanDefinitionFile => "wanDefinition.json"
                               }}

      , {llnwApiConfig, #{ streamAuthTypeUrl => <<"http://mmd-dev-01.phx7.llnw.net:8842/rts/v1/streamauthtype?apiKey=test-key">>,
                           streamAuthUrl => <<"http://mmd-dev-01.phx7.llnw.net:8842/rts/v1/streamauth?apiKey=test-key">>,
                           streamPublishUrl => <<"http://mmd-dev-01.phx7.llnw.net:8842/rts/v1/streampublish?apiKey=test-key">>
                         }}

      ]}
   ]}

, "id3as_common_core.config"

, {kernel,
   [ {logger_level, debug}
   , {logger, [
               %% Console
               { handler, default, logger_std_h
               , #{ formatter => { logger_formatter
                                 , #{ single_line => true
                                    , time_offset => "Z"
                                    , chars_limit => 32768
                                    , depth => 40
                                    , template => [time," ", level,": ", pid, " ", msg, ": ", misc, "\n"]
                                    }}
                  , filters => [ {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['otp', 'sasl']}}}
                               , {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['audit']}}}
                               ]
                  }
               }
              ]}
   ]}
].
