%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-

[ "release-files/rtsv2_core.config",
  { rtsv2,

    [ { overrides,
        [ {transPoPConfig, #{ leaderTimeoutMs => 1000
                            , leaderAnnounceMs => 500
                            , rejoinEveryMs => 5000
                            , replayMessagesOnJoin => false
                            }}

        , {intraPoPConfig, #{ replayMessagesOnJoin => false
                            , reannounceEveryMs => #{ vm => 200
                                                    , aggregator => 200
                                                    , relay => 200
                                                    , egest => 200
                                                    }
                            }}

        , {egestConfig, #{ lingerTimeMs => 2000
                         }}

        , {popDefinitionConfig, #{ directory => "test/config/"
                                 }}

        , {ingestAggregatorConfig, #{ shutdownLingerTimeMs => 1000
                                    }}

        , {healthConfig, #{thresholds => #{ perfect => 60
                                          , excellent => 50
                                          , good => 25
                                          , poor => 10
                                          }}}

        ]}

    ]}

, "release-files/id3as_common_core.config"

, "release-files/prometheus_core.config"

, "release-files/kernel_core.config"
].
