@media (max-width: 980px) {
        body {
          padding-top: 0;
        }
}

video {
  border-radius: 10px;
}

.container {
  padding-top: 20px;
}

.content {
  margin-top: 1rem;
  box-shadow: rgba(156, 172, 172, 0.2) 0px 1px 9px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 50vh;
  max-height: 600px;
  width: 150vw;
  max-width: 600px;
}

.messages {
  flex-grow: 1;
  padding: 20px 30px;
  overflow: auto;
}

.message {
  display: flex;
  flex-direction: column;
}

.msg_sent {
  align-items: flex-end;
}

.msg_received {
  align-items: flex-start;
}

.msg_name {
  padding: 10px 0;
}

.msg_bubble {
  padding: 20px;
  border-radius: 3px;
}

.msg_received .msg_bubble {
  background: #6363bf;
  color: white;
}

.msg_sent .msg_bubble {
  background: rgba(156, 172, 172, 0.2);
}

.footer {
  line-height: 76px;
  border-top: 1px solid rgba(156, 172, 172, 0.2);
  display: flex;
  flex-shrink: 0;
}

input {
  height: 76px;
  border: none;
  flex-grow: 1;
  padding: 0 30px;
  font-size: 16px;
  background: transparent;
}

#stop {
  margin-bottom: 20px;
  margin-top: 10px;
}

button {
  border: none;
  background: transparent;
  padding: 0 30px;
  font-size: 16px;
  cursor: pointer;
}
