%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-

[ "release-files/rtsv2_core.config",
  {rtsv2,
   [ {overrides, [ {transPoPConfig, #{ leaderTimeoutMs => 1000
                                     , leaderAnnounceMs => 500
                                     , rttRefreshMs => 5000
                                     }}
                 , {popDefinitionConfig, #{ directory => "scripts/env/localhost.data/"
                                          , popDefinitionFile => "popDefinition.json"
                                          , wanDefinitionFile => "wanDefinition.json"
                                          }}
                 , {llnwApiConfig, #{
                        validationUrlWhitelist => [<<"subscribe-validator.rts.llnwi.net">>, <<"172.16.171.1">>, <<"172.16.171.2">>, <<"172.16.171.3">>]
                      }}

                 ]}
   ]}

, "release-files/id3as_common_core.config"

, "release-files/prometheus_core.config"

, "release-files/kernel_core.config"
].
