%% -*- mode:erlang;tab-width:2;erlang-indent-level:2;indent-tabs-mode:nil -*-

[ "release-files/rtsv2_core.config",
  {rtsv2,
   [ {overrides, [ {transPoPConfig, #{ leaderTimeoutMs => 1000
                                     , leaderAnnounceMs => 500
                                     , rttRefreshMs => 5000
                                     }}
                 , {featureFlags, #{ mediaGateway => <<"external">> }} %% or on, or external
                 ]}
   ]}

, "release-files/id3as_common_core.config"

, "release-files/prometheus_core.config"

, "release-files/kernel_core.config"

].
